.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  margin: 20%;
}

.form-group {
  margin: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  text-align: center;
}

#send {
  box-shadow: none;
}