.personal-info img {
    max-width:10rem;
    margin: 1rem;
    border-radius: 5rem;
}

.description {
    text-align:center;
    padding: 1rem;
    
    }

.container img{
    background-position: 100%;
    background-repeat: no-repeat;
    background-image: url(./resources/logo_lenguajes.jpg);
    display: table;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .personal-info {
        display: flex;
        flex-direction: row;
        margin-bottom: 15rem;
        
    }
    h1{
        margin: 4rem 0;
    }

}