:root{
    --color-primary: rgb(186, 123, 161);
    --color-secondary: #89004f
    ;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.center {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 100px;
    background-color: var(--color-primary);
    
}

.navbar img {
    padding: 1rem;
}

.menu {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.menu li a {
    padding: 0.3rem;
    color: white;
    text-decoration: none;
    
}

.container {
    padding: 0 4rem;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}

.background {
    background-image: url('../resources/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


footer {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    color: white;
}

.links {
    display: flex;
    justify-content: space-around;
}

.links li {
    padding: 0.2rem;
}

.links li a {
    color: white;
    text-decoration: none;
}

.fa-brands {
    margin: 1rem;
    font-size: 2rem;
   
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 1;
    background-color: #fff;
}
  
@media only screen and (min-width: 768px) {
    .navbar .menu :hover {
        color: var(--color-secondary);
    }
    
}