:root{
    --mail-colour:rgb(238, 163, 230)
}

body {
    font-family: sans-serif; 
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    background-color: var(--mail-colour);
    margin: 0;
    padding: 10px;
}

.menu .nav {
    display: flex;
   
    background-color: var(--mail-colour);
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
}

.main-title {
    text-align: center;
    font-size: 45px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.profile img {
    margin: 20px;
    padding: 10px;
    max-width: 16rem;
}

.description {
    display: inline;
    text-align: left;
    font-size: 2rem;
    background-color: #fff;
    margin: 15px;
    padding: 10px;
}


  
