.skills{
    text-align: center;
}


.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margingbottom: 5px;
    color: rgb(10, 10, 10);
    font-size: 16px;

}

.progress-bar {
    background: rgb(rgb(11, 11, 11));
    width: 200px;
    height: 10px;
    border-radius: 5px;
    
}

.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
    background: red;
    
}

.html{
    animation: html 1s linear forwards;
}

.python{
    animation: python 1s linear forwards;
}

.javascript{
    animation: javascript 1s linear forwards;
}

.typescript{
    animation: typescript 1s linear forwards;
}

@keyframes html{
    100% {
        width: 70%;
    }
}

@keyframes python{
    100% {
        width: 60%;
    }
}

@keyframes javascript{
    100% {
        width: 40%;
    }
}

@keyframes typescript{
    100% {
        width: 25%;
    }
}